<!DOCTYPE html>
<html lang="en">
  <head>
    <title></title>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <link rel="stylesheet" href="/index.css" />
  </head>

  <body>
    <nav>
      <a href="/"> home </a>
      <a href="/register"> register </a>
      <a href="/login"> login </a>
      <a href="/secret"> secret </a>
    </nav>
  </body>
</html>
